*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: rgb(32, 31, 31);
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

html{
    height:100vh; 
}
/* ---------ENLACE LOADING ICON ------------------------------------ */

  #loader{
    width: 100%;
    height: 100%;
  }
  .iframe_loading_icon{
    width: 100%;
    height: 100%;
    border-style: none;
  }


/* ------------ENLACE DE HEADER------------------------------------ */
header{
 /*  background: blue; */
  color: white;
  position:absolute;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh; 
}

header iframe{
  /* background: chartreuse; */
  color: white;
  position: fixed;
  width: 100vw;
  height: 100%;
  border-style: none;
  z-index: 90;
  top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    height: 100%; 
    width: 100%;
}

/* ----------------------------------------------------------------------- */


/* ------------ENLACE DE FOOTER------------------------------------ */
footer{
  position:absolute;
  z-index: 100;
  bottom: 0;
  width: 100vw;
  height: 2.5em;
}

footer iframe{
  /* background: chocolate; */
  position: absolute;
  width: 100vw;
  height: 2.5em;
  border-style: none;
  z-index: 100;
  margin-bottom: 0;
}

/* ----------------------------------------------------------------------- */









