*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
}


html{
    height:100vh; 
}

header {
  top: 0;
  background: rgb(3, 3, 3);
  height: 4em;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#navbar{
    display: -webkit-box;
  	display: -webkit-flex;
	  display: -ms-flexbox;
    /* flex-wrap: nowrap; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    width: 100vw;
    color: rgb(255, 255, 255);

}
.toggle{
  display: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.btn_X {
  display: none; 
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
nav .item a{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.959);
    text-decoration: none;
    margin: 0 2em 0 1em;
}

.logo{
    margin-left:2em ;
    letter-spacing: 3px;
    z-index: 100;
    mix-blend-mode: difference; 
}


@media all and (max-width:768px){
.toggle{
  display: inline-flex;
  margin-right: 1.5em;
}
.menu{
  position: absolute;
  width: 100vw;
  /* height: calc(100% - 4em); */
  height: 100vh;
  background: rgba(255, 255, 255, 0.993);
  /* margin-top: 4em; */
  top: -100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  transition: all .7s;
  z-index: 0;
}
.menu li{
  margin-top: 2em;
  line-height: 30px;
  font-size: 1.2em;
  letter-spacing: 3px;
  mix-blend-mode: difference;  /* !!!!cambia el color de letras segun background:  */
}
.menu li:hover{
  transform: scale(1.3);
  transition: all 0.4s;
}
.menu .btn_X{
  margin-top:4em ;
}
.btn_X a{
  color: rgb(252, 248, 248);
}

}

@media all and (max-width:500px){
  
    #navbar{
      position: fixed;
      width: 100vw;
      top: 0;
      z-index: 2;
    }
    
    .logo{
      margin-left:1em;
      font-weight: bold;
      
  }
   


  /*   .world {
        overflow: hidden;
      }
      
    .sliding-background {
        margin-top: 7em;
        background: url("./img/dotted-map-mobil.png") repeat-x;
        height: 500px;
        width: 5076px;
      } */ 
}    
/* -------------------EXPERIENCE-------------------- */

#experience{
  margin-top: 4em;
  display: block;
}
/* -------animacion------------------ */
.world{
  display: flex; 
  align-items: center;
  justify-content: center; 
}
.world, .world-movil {
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
}
.world-movil{
  display: none;
}
  
.sliding-background {
  margin: 10em 0 2em 1.5em;
}

   @keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-70%, 0, 0); 
    }
  } 

@media all and (max-width:1024px){
  .world{
    display: none;
  }

  .world-movil{
    display: flex;
  }
  
  .sliding-background-movil {
    margin: 2em 0 2em 1.5em;
    animation: slide 10s linear infinite;
    animation-direction: alternate;
    /* filter: drop-shadow(0px 0px 5px rgb(81, 82, 126)); */
  }
}

/* -------TEXTO----------- */

#experience h1{
  letter-spacing: 3px;
  word-spacing: 7px;
  text-align: center;
  /* margin-bottom: 1.5em; */
}

.text-experiense{
  margin: 0 auto;
  /* background: chartreuse; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 50%;
  
}
.exp{
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  width: 90%;
  padding: 0.5em;
}
.exp p{
  width: 70%;
}
.exp strong{
  text-transform: uppercase;
}

@media all and (max-width:500px){
  .text-experiense{
    width: 100%;
  }
  .exp p{
    width: 70%;
  }
}