*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: rgb(124, 226, 251);
  height: 100vh;
  width: 100vw;
}


html{
    height:100vh; 
}

header {
  top: 0;
  background: rgb(3, 3, 3);
  height: 4em;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#navbar{
    display: -webkit-box;
  	display: -webkit-flex;
	  display: -ms-flexbox;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    width: 100vw;
    color: white;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
nav .item a{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.959);
    text-decoration: none;
    margin: 0 2em 0 1em;
}

.logo{
    margin-left:2em ;
    letter-spacing: 3px;
    word-spacing: 5px;
}

/* .world{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.world img{
   width: 75%;
}
 */

#world{
  display: block;
  z-index: -1;
  
}
.world {
  display: flex; 
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
  
.sliding-background {
    height: 80%;
   /*  animation: slide 40s linear infinite; */
  }

/*   @keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1602px, 0, 0); /* The image width 
    }
  } */





@media all and (max-width:500px){
  
    #navbar{
      position: fixed;
      width: 100vw;
      top: 0;
      z-index: 2;
    }
    .sliding-background{
      display: none;
    }
    .sliding-background-movil {
      background: url("./img/dotted-map-mobil.png") no-repeat;
      background-position: left;
      background-attachment:scroll;
      position: relative;
      margin-left: 1em;
      width: 920px;
      height: 100%;
      z-index: 1;
    }

    nav .item a{
      font-size: 0.3em;
    }
    .world{
      width: 950px;
      overflow: scroll;
    }


  /*   .world {
        overflow: hidden;
      }
      
    .sliding-background {
        margin-top: 7em;
        background: url("./img/dotted-map-mobil.png") repeat-x;
        height: 500px;
        width: 5076px;
      } */ 
}    

#texto{
  margin-top: 8em;
  position: relative;
  left: 0;
  right: 0;
}