@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
  background: rgb(54, 53, 53);
  color: white;
}


/* -------------------EXPERIENCE-------------------- */

#experience{
    margin-top: 3em;
  }

  /* ------------------SCROLL------------------------------------- */
  .scroll-ups {
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
    z-index: 5;
  }
  .mousey {
    width: 3px;
    padding: 0px 8px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 8px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 1.3s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { transform: translateY(30px); opacity: 1; }
    100% { transform: translateY(3px); opacity: 0;}
  }

  /* -------animacion------------------ */
  .world{
   /*  background: turquoise; */
    display: flex; 
    
  /*   overflow: hidden;
    white-space: nowrap; */
  }
  
  /* .contenedor_img_slider{
    display: none;
  } */
    
  .sliding-background{
    margin: 7em 0 2em 2.5em;
    /* background-color: red; */
    background-image: url('./img/dotted-map-blanco-movil-marcas.png');
    background-size:100%;
    background-repeat: no-repeat;
    height: 90vh;
    width: 70vw;
    margin: 3rem auto;
   
  }
  
     @keyframes slide {
      0%{
        transform: translate3d(0, 0, 0);
      }
      100%{
        transform: translate3d(-947px, 0, 0); 
      }
    } 
  
  @media all and (max-width:1024px){
    .world{
      display: none;
    }
    .contenedor_img_slider{
      width: 100vw;
      height: 90vh;
      position: relative;
      overflow: hidden;
    }
  
    .world {
      top: 0;
      left: 0;
      /* width: 100%; */
      overflow: hidden;
    }
  
    .sliding-background-movil {
      display: flex;
      position: absolute;
      z-index: 4;
      background: url('./img/dotted-map-blanco-movil-marcas.png') repeat-x;
      width: 2841px;
      height: 71vh;
      margin: 2.3em 0 1em 1em;
      animation: slide 15s linear infinite;
    }
    .sliding-background-movil-fotos {
      display: flex;
      position: absolute;
      z-index:5 ;
      background: url('./img/dotted-map-movil-fotos.png') repeat-x;
      width: 2841px;
      height: 71vh;
      margin: 2.3em 0 1em 1em;
      animation: slide 11s linear infinite;
    }
    .sliding-background-movil-fotos2 {
      display: flex;
      position: absolute;
      z-index:3 ;
      background: url('./img/dotted-map-movil-fotos2.png') repeat-x;
      width: 2841px;
      height: 71vh;
      margin: 2.3em 0 1em 1em;
      animation: slide 19s linear infinite;
    }
  
  }
  
  /* -------EXPERIENCE TEXTO----------- */
  
  #experience h1{
    letter-spacing: 3px;
    word-spacing: 7px;
    text-align: center;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    /* margin-bottom: 1.5em; */
  }
  
  .text-experiense{
    margin: 1.2em auto;
    /* background: chartreuse; */
    position: relative;
   /*  top: 90vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 50%;

  }
  .exp{
    display: flex;
    justify-content: space-between;
    margin-top: 2.8em;
    width: 90%;
    padding: 0.5em;
  }
  .exp p{
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }
  .exp strong{
    text-transform: uppercase;
    color: red;
    font-size: 1rem;
  }
  .exp strong span{
    color: white;
  }
  
  @media all and (max-width:500px){
    .text-experiense{
      width: 100%;
      overflow-x: hidden;
    }
    .exp p{
      width: 70%;
    }
  }
  

  .separador{
    height: 5em;
  }