/*  <!--Start -----FOOTER----- --> */

footer {
    background-color:rgba(86, 88, 91, 0.582);
    height: 2rem;
    width: 100vw; 
    bottom: 0;
    position:fixed;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  p{
    margin-right: 1em;
    font-size: 0.7em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  footer a{
    text-decoration: none;
    color:white ;
  }