
/* ----------------------------------------------------------------------- */ 
  #about_me{
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  /* loading */
  .wrapper-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    opacity: 1;
    animation: desaparece 4s linear forwards;
    -webkit-animation: desaparece 4s linear forwards;
}
  .loading {
    width: 100%;
    height: 100%;
		z-index: 999;
    position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgb(0, 0, 0);
	}
	.loading img {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
		top: 50%;
		right: 50%;
		bottom: 50%;
		left: 50%;
		margin-left: -41px;
		margin-top: -41px;
	}

  @keyframes desaparece{
    0%, 85%{
      opacity: 1;
    }
    95%{
      opacity: 0;
    }
    100%{
     z-index:-1;
     }
  }
  
  /* Parallax base styles
    --------------------------------------------- */
  
  .parallax {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-perspective: 1px;
    perspective: 1px;
   /*  background: #565b61; */
   background: radial-gradient(circle, rgba(83,92,101,1) 0%, rgba(86,88,91,1) 81%);
  }
  .parallax__layer {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .parallax__layer--base {
    transform: translateZ(0) scale(0.8);
  }
  
  .parallax__layer--back {
    transform: translateZ(-1px) scale(2);
  }

  .parallax__layer--front2 {
    transform: translateZ(0) scale(0.9) ;
  }

  .parallax__layer--front3 {
    transform: translateZ(-0.1px) /* scale(0.9) */ ;
  }

  .parallax__layer--front4 {
    transform: translateZ(-1.4px) scale(2.1) ;
  }

  .parallax__layer--front {
    transform: translateZ(-1.4px)  scale(2.1);
  }

  .parallax__layer--deep {
    transform: translateZ(-2px) scale(2);
  }

 
  
  /* add some padding to force scrollbars */
  .parallax__layer {
    pointer-events: none;
  }
  
  /* Art */
/*   body {
    background: linear-gradient(#2c2c2eea 0%, #575758 100%);
  } */
  .background {
    position: absolute;
    display: block;
    height: 100vh;
  }
  .parallax__layer--deep {
    padding: 0 100vw;
    z-index: 7;
  }
  .parallax__layer--deep .background {
    top: -60px;
    right: 0;
    bottom: 0;
    left: 0px;  
      /*  background-repeat: repeat-x; */
   background-repeat: no-repeat;
    background-position: top center;  
    background-size: 100vh;
      background-image:   url('./img_about_me/cita.png');
  }
  .parallax__layer--back {
    padding: 0 100vw;
    z-index:8;
  }
  .parallax__layer--back .background {
    /* opacity: 0.9; */
    top: 0;
    right: 50px;
    bottom: 0;
    left: 0; 
     /*  background-repeat: repeat-x; */
    background-repeat: no-repeat;
    background-position: bottom center;  
    background-size: 72vh;
    background-image: url('./img_about_me/miguel_huelamo.png');
  
  }
  .parallax__layer--front{
    padding: 0 500vw;
    z-index: 9;
  }
  .parallax__layer--front .background {
    top: 0;
    right: 0px;
    bottom: 0;
    left: 0px;
    opacity: 0.9;
   /*  background-repeat: repeat-x; */
   background-repeat: no-repeat;
    background-position: bottom center;  
    background-size: 70vh;  
    background-image: url('./img_about_me/parrafo3.png');
  }

  .parallax__layer--base{
    padding: 0 200vw;
    z-index: 10;
  }
  .parallax__layer--base .background {
    top: -70px;
    right: 0;
    bottom: 0;
    left: 150px;
   /*  background-repeat: repeat-x; */
   background-repeat: no-repeat;
    background-position: bottom center;  
    background-size: 100vh;  
    background-image: url('./img_about_me/primer_parrafo.png');
  }

  .parallax__layer--front2{
    padding: 0 300vw;
    z-index: 9;
  }
  .parallax__layer--front2 .background {
    top: -40px;
    right: 0px;
    bottom:0;
    left: 480px;
   /*  background-repeat: repeat-x; */
   background-repeat: no-repeat;
    background-position: bottom center;  
    background-size: 108vh;  
    background-image: url('./img_about_me/parrafo2_plato.png');
  }

  .parallax__layer--front3{
    padding: 0 550vw;
    z-index: 10;
  }
  .parallax__layer--front3 .background {
    top: 0;
    right: 0px;
    bottom:0;
    left: 1100px;
   /*  background-repeat: repeat-x; */
   background-repeat: no-repeat;
    background-position: bottom center;  
    background-size: 80vh;  
    background-image: url('./img_about_me/parrafo_last.png');
  }

  .parallax__layer--front4{
    padding: 0 570vw;
    z-index: 9;
  }
  .parallax__layer--front4 .background {
    top: -40px;
    right: 0px;
    bottom:0;
    left: 1100px;
   /*  background-repeat: repeat-x; */
   background-repeat: no-repeat;
    background-position: bottom center;  
    background-size: 90vh;  
    background-image: url('./img_about_me/aboutMe_imgs.png');
  }


  @media all and (min-width:1024px){

    .parallax__layer--front4{
      padding: 0 500vw;
    }
    .parallax__layer--front4 .background {
      left: 3000px;
      background-size: 110vh;  
    }

    .parallax__layer--front2 .background { /* 2 */
      left: 170px;
    }
    .parallax__layer--front .background { /* 3 */
      left: -250px;
    }
    .parallax__layer--front3 .background {
      left: 800px;
    }
  
  }


  @media all and (max-width:425px){

    .parallax__layer--base .background{
      background-size: 90vh;
      top: -120px;
      left: 100px;
    }
    .parallax__layer--front2 .background {
      background-size: 95vh;
      top: -110px;
    }
    .parallax__layer--front .background{
      background-size:60vh ;
      top: -80px;
    }

    .parallax__layer--front3 .background {
      left: 800px;
      background-size: 70vh; 
      top: -100px; 
    }

    .parallax__layer--front4{
      padding: 0 490vw;
    }
    .parallax__layer--front4 .background {
      left: 1300px;
      background-size: 90vh; 
      top: -100px;
    }

  }
/* ------------------SCROLL------------------------------------- */

  .scroll-right {
    position: absolute;
    top: 83%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
    z-index: 10;
    transform: rotate(-90deg);
  }
  .scroll-right .mousey {
    width: 3px;
    padding: 12px 6px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroll-right .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 1.3s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { transform: translateY(40px); opacity: 1; }
    100% { transform: translateY(-10px); opacity: 0;}
  }

